.listDesc{
    text-align: center;
    margin-top: 2vh;
}

.btn1{
    background-color: #060E57;
    border: none;
    width: 6vw;
    height: 6vh;
    border-radius: 12px;
    color: white;
    margin-left: 40vw;
    cursor: pointer;
}

.accError{
    color: red;
    display: grid;
    /* margin-left: 3vw; */
}

@media screen and (max-width: 480px) {
    .listDesc {
        margin-top: 1vh; /* Adjust margin for smaller screens */
    }

    .btn1 {
        width: 80%; /* Adjust button width for smaller screens */
        margin: 0 auto; /* Center the button */
        margin-top: 2vh; /* Add some spacing from the content */
    }

    .accError {
        margin-left: 0; /* Reset margin for smaller screens */
    }
}
