<h1 mat-dialog-title class="listDesc" style="text-align: center;"><b>Update your password</b></h1>
<mat-dialog-content [formGroup]="setPassword">
        <input type="password" formControlName="password" placeholder="Password" class="p_con" id="">
        <input type="password" formControlName="cpassword" (input)="matchChecker()" placeholder="Confirm Password" class="p_con" id="">
        <small class="accError" *ngIf="setPassword.controls['password'].hasError('required', 'password') 
        || setPassword.controls['cpassword'].hasError('required', 'cpassword')">Both fields are required</small>
        <small style="font-size: 8px;" class="accError" *ngIf="setPassword.controls['password'].errors?.['pattern']">
            <ul style="margin-top: 0; ">
                <ul>Password must be:</ul>
                <ul>Contain at leats one Uppercase and one Lowercase letter</ul>
                <ul>Conatain at least one digit</ul>
                <ul>Contains at least one special character from the set '@$!%*#?&'</ul>
            </ul>
        </small>
        <small class="accError" *ngIf="match">Password and Confirm passwords do not match</small>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="submit" class="btn1" (click)="Update()">Update</button>
</mat-dialog-actions>